ul {
    list-style-type: none;
}

.resume_descriptor{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Segoe UI';
}

.resume_date {
    font-family: 'Trebuchet MS';
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 5px;
}
.resume_header {
    font-family: 'Segoe UI';
    font-size: large;
    font-weight: 700;
    margin-bottom: 0;

}
.resume_location {
    font-family: 'Trebuchet MS';
    font-size: medium;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px;

}
.resume_content {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    margin-bottom: 0;

}
.skill_img {
    height: 50px;
    align-self: center;
    width: auto;
}
.skill_item{
    display: flex;
    flex-flow: column;   
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill_name {
    text-align: center;
}
.box_shadow{
    border: 1px solid #888888;
    box-shadow: 3px 3px 7px #888888;
    margin-bottom: 20px;
    padding: 10px;
}